.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #34495e;
    color: white;
    padding: 10px 20px;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
  }

  .user-name{
    margin-right: 20px;
  }
  
  .logout-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .logout-button:hover {
    background-color: #c0392b;
  }
  